**__pycache__
.vscode
.idea
**test**
**old_**
**.cgf
**.log
~*
openweatherkey.txt
TrasPi Setup Guide.txt
eventlog.txt
eventlog.json
**old_**
attributes.py
home/main/resource/program/time_cache.vcm
/user/playlists