# Python & Editors
__pycache__
.vscode
.idea
~*

# PROGRAM CONSTS
attributes.py

# Debug Test Files
test*
old_**
*.cgf
*.log
*.vcm
vcm

# User
user/**
core/error/eventlog.json
core/error/attributes.py
